body {
    margin: 0;
    font-family: Poppins;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    margin: 0;
    padding: 0;
    background-color: white;
    font: inherit;
    border: none;
    line-height: normal;
    line-height: 1em;
}
